<template>
  <div
    class="
      bg-white
      w-full
      flex flex-col
      rounded-full
      shadow-lg
      p-2
      mb-5
      sticky
      mt-20
    "
  >
    <div class="flex items-center justify-between">
      <input
        v-model="listeners"
        v-bind="$attrs"
        class="
          font-bold
          uppercase
          rounded-full
          w-full
          py-4
          pl-4
          text-gray-700
          bg-gray-100
          leading-tight
          focus:outline-none focus:shadow-outline
          lg:text-sm
          text-xs
        "
        type="text"
        @keyup.enter="(e) => $emit('enter', e)"
      />

      <div
        class="
          bg-gray-200
          p-2
          hover:bg-blue-400
          cursor-pointer
          mx-2
          rounded-full
        "
        @click="(e) => $emit('click', e)"
      >
        <img :src="require(`/static/${icon}.svg`)" />
      </div>
    </div>

    <div v-if="error" class="text-red-400 text-xs ml-6 py-2">{{ error }}</div>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: [Number, String],
      default: '',
    },
    icon: {
      type: String,
      default: 'calculater',
    },
    error: {
      type: String,
      default: '',
    },
  },
  computed: {
    listeners: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      },
    },
  },
}
</script>
