<template>
  <div class="max-w-screen-md mx-auto">
    <InputGroup
      v-model="numberCalc"
      placeholder="ใส่ตัวเลข"
      @enter="handleCulculater"
      @click="handleCulculater"
    />

    <Calculate :result="result" :history="history" />
  </div>
</template>
<script>
export default {
  data() {
    return {
      numberCalc: '',
      result: '',
      history: '',
    }
  },
  methods: {
    handleCulculater() {
      if (!/[^0-9]+/.test(this.numberCalc)) {
        this.numberCalc = this.numberCalc.replace(/[^0-9]+/g, '')
        this.result = this.numberCalc / 100
        this.history = `${this.numberCalc} / 100 = ${this.result}`
      }
      this.numberCalc = ''
    },
  },
}
</script>
