<template>
  <div class="max-w-screen-md mx-auto">
    <InputGroup
      v-model="newMessage"
      icon="send"
      placeholder="กรอกข้อมูล"
      :error="error"
      @enter="handleSubmitMessage"
      @click="handleSubmitMessage"
    />

    <Table :headers="headers">
      <tr v-for="(message, key) in messages" :key="key">
        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
          {{ message.message }}
        </td>
        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
          {{ message.msgLength }}
        </td>
      </tr>
      <tr v-if="!messages.length">
        <td
          class="
            px-5
            py-5
            border-b border-gray-200
            bg-white
            text-sm text-center
          "
          colspan="2"
        >
          Empty Message
        </td>
      </tr>
    </Table>
  </div>
</template>
<script>
export default {
  async asyncData({ error, $axios }) {
    try {
      const { messages } = await $axios.$get('/message')
      return { messages }
    } catch (e) {
      return error(e.message)
    }
  },
  data() {
    return {
      headers: ['Massage', 'length'],
      newMessage: '',
      error: '',
    }
  },
  methods: {
    async handleSubmitMessage() {
      try {
        this.error = ''
        const storeMessage = await this.$axios
          .post('/message', { message: this.newMessage })
          .then(({ data }) => data)
          .catch(({ response }) => {
            if (response.status === 400) {
              this.error = response.data[0].message
            }

            throw response
          })
        this.newMessage = ''
        this.messages.unshift(storeMessage)
      } catch (error) {
        this.$nuxt.error(error.message)
      }
    },
  },
}
</script>
