<template>
  <div class="max-w-screen-md mx-auto">
    <Table :headers="headers">
      <tr v-for="(user, key) in users" :key="key">
        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
          {{ user.name }}
        </td>
        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
          {{ user.lastname }}
        </td>
        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
          {{ user.age }}
        </td>
      </tr>
    </Table>
  </div>
</template>
<script>
import users from '@/static/users.json'
export default {
  data() {
    return {
      headers: ['name', 'lastname', 'age'],
      users,
    }
  },
}
</script>
