<template>
  <div class="flex flex-col gap-4 pt-5 rounde-lg m-2">
    <div class="lg:text-2xl md:text-xl text-lg font-black text-gray-700">
      Result: {{ result }}
    </div>

    <div class="flex justify-between w-full">
      <div class="lg:text-xl md:text-xl text-lg pt-5 font-black text-gray-500">
        History
      </div>
      <div
        class="lg:text-xl md:text-xl text-lg pt-5 font-black text-gray-500"
        @click="handleClaerHistory"
      >
        Clear History
      </div>
    </div>
    <transition-group name="list">
      <div
        v-for="(his, key) in historyList"
        :key="key + 1"
        class="
          bg-white
          flex
          items-center
          justify-between
          w-full
          p-2
          lg:rounded-full
          md:rounded-full
          cursor-pointer
          border-2
          rounded-lg
        "
      >
        <div class="lg:flex md:flex items-center px-12 py-3">
          <div class="flex flex-col">
            <div class="text-sm leading-3 text-gray-700 font-bold w-full">
              {{ his }}
            </div>
          </div>
        </div>
      </div>
    </transition-group>
  </div>
</template>
<script>
export default {
  props: {
    result: {
      type: [Number, String],
      default: '',
    },
    history: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      historyList: [],
    }
  },
  watch: {
    history(value) {
      this.historyList.unshift(value)
    },
  },
  methods: {
    handleClaerHistory() {
      this.historyList = []
    },
  },
}
</script>
<style scoped>
.list-enter-active,
.list-leave-active {
  transition: opacity 0.5s;
}
.list-enter,
.list-leave-active {
  opacity: 0;
}
</style>
