<template>
  <div class="min-w-screen min-h-screen bg-gray-200 px-5 pb-5 pt-10">
    <Navbar />
    <Nuxt />
  </div>
</template>
<script>
import Navbar from '@/components/common/Navbar'
export default {
  components: {
    Navbar,
  },
}
</script>
